
name: CI
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v6
     - name: Setup Node.js
       uses: actions/setup-node@v6
       with:
         node-version: 22
     - run: npm i -g brighterscript-formatter
     - run: bsfmt --check --bsfmt-path "bsfmt.json"
